__pycache__/
runs*/
time/
log/
.vscode/
worksheet*.py
*_bak
cpp/main
main
main_debug
obj/
null.d
boost_*
icu/
indicators/
res*/
bak/
re2/
configs/*/debug.yml
fig/
figures/
jacc/
cache/
src/LPLM/.git
src/LPLM/.vscode
data/*
*.tar.gz

# scripts
move_dir.py
load_*.sh
